@import '../../common/css/variables';

.field:hover {
  outline: 2.5px solid $snekGreen;
  border-radius: 7px;
  outline-offset: 1px;
}

.streamfield-add-button,
.streamfield-add-button:hover,
.streamfield-add-button:focus {
  background-color: $snekGreen;
  color: white;
  border-color: $snekDark;
}
