// .cms-edit {
//   position: fixed;
//   bottom: 5%;
//   right: 3%;
//   z-index: 999;
// }

.menu-drawer {
  z-index: 99900 !important;
}

.ant-notification {
  z-index: 99910 !important;
}

.ant-modal {
  z-index: 99901 !important;
}
