@import '../../../../common/css/colors.scss';

.files-modal {
  .ant-modal-header {
    padding: 0 !important;
  }

  .ant-modal-close {
    color: white;
  }
}

.files-modal-header {
  background: $snekDark;
  color: $snekGreen;
}
