@import 'draft-js/dist/Draft';
@import '@draft-js-plugins/side-toolbar/lib/plugin.css';
@import '@draft-js-plugins/image/lib/plugin.css';

.cms-edit {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 999;
  background-color: #333333;
  border-radius: 50%;
}
